.demo {
  &.reveal {
    position: absolute;

    img {
      max-width: 70%;
      max-height: 400px;
      margin: 0;
    }

    @media screen and (max-width: 1300px) {
      section {
        font-size: 2vw;
      }
    }
  }

  .demo-chart {
    background: white;

    .c3-tooltip {
      color: black;
    }
  }

  .demo-description {
    margin-left: 20px;
  }

  .demo-table {
    font-size: 2vw;
  }
}
